langchain-huggingface
huggingface-hub
fastapi
langchain-chroma
uvicorn
python-dotenv
langchain
langchain-community
langchain-groq
langgraph
chromadb
youtube-transcript-api
google-api-python-client
python-multipart