youtube-transcript-api>=1.0.0
langchain-cohere
langchain-chroma
langchain-groq
langchain-text-splitters
langchain-core
langchain
fastapi
uvicorn
python-dotenv
langgraph
chromadb
google-api-python-client
python-multipart